# رفع الحزم للـ جذر لحل مشاكل التوافقية مع أدوات الـ Build
shamefully-hoist=true

# تثبيت الـ peer dependencies تلقائياً لمنع تعارض الحزم
auto-install-peers=true

# إجبار pnpm على ربط الحزم المحلية داخل الـ workspace مباشرة
link-workspace-packages=true

# تسريع عملية التثبيت عبر تفضيل الحزم المخزنة محلياً في الـ Cache
prefer-frozen-lockfile=true